@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for small screens */
/* @screen sm {
  .table-auto {
    display: block;
    overflow-x: auto;
  }

  .table-auto thead,
  .table-auto tbody,
  .table-auto th,
  .table-auto td,
  .table-auto tr {
    display: block;
  }

  .table-auto thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .table-auto tr {
    margin: 0 0 1rem 0;
    border-bottom: 1px solid #ccc;
  }

  .table-auto td {
    border: none;
    position: relative;
    padding-left: 50%;
    text-align: left;
    white-space: normal;
  }

  .table-auto td:before {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    transform: translateY(-50%);
    content: attr(data-label);
    font-weight: bold;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .btn {
    margin-right: 10px;
  }
} */
